body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
}
button{
    color: #fff;
    border-radius: 15px 5px;
    padding: 7px 17px;
    cursor: pointer;
    font-size: 20px;
}
#start{
    border: 1px solid #331025;
    background: #a83277;
}
#start:hover{
    background: #f71152;
}
#stop{
    background: #a9304c;
    border: 1px solid #4d080c;
}
#stop:hover{
    background: #991b16;
}
#reset{
    padding:7px 25px;
    margin-top: 10px;
    background: #fc5a03;
    border: 1px solid #4d080c;
}
#reset:hover{
    background: #e8804d;
}
#timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove white;
    padding: 50px 100px;
    border-radius: 20px;
}
#time{
    margin: 23px 0;
    padding: 12px;
    font-size: 22px;
    background: #4c0e80;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 2px;
}

@media only screen and (max-width:  600px){
    button{
	    color: #fff;
	    border-radius: 13px 3px;
	    padding: 6px 20px;
	    cursor: pointer;
	    font-size: 18px;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #reset{
        padding: 6px 25px;
        margin-top: 8px;
        background: #fc5a03;
        border: 1px solid #4d080c;
    }
    #timer{
        padding: 50px 85px;
        border-radius: 20px;
    }
    #time{
        margin: 20px 0;
        padding: 10px;
        font-size: 20px;
        background: #4c0e80;
        border-radius: 3px;
        color: #fff;
        letter-spacing: 1px;
    }
}